:root {
  --color-primario: #000000;
  --color-secundario: #000000;
  --color-fondo: #292323;
  --color-texto: #b4b4b4;
  --color-hover: #f3eded;
  --sombra-suave: 0 4px 8px rgba(0, 0, 0, 0.1);

  --radius: 12px;
}

/* Base */
* { box-sizing: border-box; }

body {
  background-color: var(--color-fondo);
  color: var(--color-texto);
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  overflow-x: hidden;
}

/* Accesibilidad */
:focus-visible {
  outline: 2px solid var(--color-hover);
  outline-offset: 2px;
}

/* Inputs */
input,
select,
textarea {
  border-radius: 6px;
  border: 1px solid #bdbdbd;
  font-size: 1rem;
  padding: 7px 10px;
  background: #f8f9fa;
  color: #222;
  transition: border 0.2s;
}

input:focus,
select:focus,
textarea:focus {
  border-color: var(--color-hover);
  outline: none;
}

/* Tablas */
table {
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
}

th, td {
  vertical-align: middle !important;
}

/* Toast */
.toast {
  border-radius: 8px !important;
  font-size: 1rem;
  box-shadow: 0 2px 8px rgba(0,0,0,0.15);
}